<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="radson.sih2017"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Std_Activity"/>
        <activity android:name=".Std_reg_Activity"/>
        <activity android:name=".Std_login_Activity"/>
        <activity android:name=".Cmp_Activity"/>
        <activity android:name=".Cmp_reg_Activity"/>
        <activity android:name=".Cmp_login_Activity"/>
        <activity android:name=".Intern_details"/>
    </application>

</manifest>
